<script>
    function selectElementContents(s, e) {
        
        var el = document.getElementById('tblRatePreview');
        var body = $('#tblRatePreview'), range, sel;
        if (document.createRange && window.getSelection) {
            range = document.createRange();
            sel = window.getSelection();
            sel.removeAllRanges();
            try {
                range.selectNodeContents(el);
                sel.addRange(range);
            } catch (e) {
                range.selectNode(el);
                sel.addRange(range);
            }
        } else if (body.createTextRange) {
            range = body.createTextRange();
            range.moveToElementText(el);
            range.select();
        }
        document.execCommand("Copy");
    }
</script>
<table id="tblRatePreview" style="width:500px;table-layout:fixed;" border="1" border-collapse="collapse;">
  
</table>
